body {
    background: #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    padding: 40px 35px;
    text-align: center;
    border-radius: 20px;
}

.search {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 40px;
    border-radius: 30px;
    flex: 1;
}

button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.weather-icon {
    width: 120px;
}

.temp {
    font-size: 60px;
    font-weight: 500;
}

.details {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}