body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 20px auto;
  background: rgb(218, 222, 223);
  padding: 20px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.summary {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.summary div {
  width: 30%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background: #eee;
}

#income {
  color: green;
}

#expense {
  color: red;
}

#balance {
  font-weight: bold;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

form input,
form select,
form button {
  padding: 8px;
  flex: 1;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: ivory;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.income {
  color: green;
}

.expense {
  color: red;
}

/* Action Buttons */
.action-btn {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  margin: 2px;
  display: inline-block;
  color: white;
}

/* Edit Button */
.edit-btn {
  background-color: #28a745;
}

.edit-btn:hover {
  background-color: #218838;
}

/* Delete Button */
.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #c82333;
}