body {
    background-color: rgb(43, 196, 235);
    width: 1000px;

}

.Heading h1 {
    background-color: white;
    width: 650px;
    border: 2px solid;
    border-radius: 25px;
    margin-left: 400px;
}

.form {
    width: 750px;
    height: 300px;

    margin-left: 350px;
    border: 2px solid;
    border-radius: 20px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF6hKc6Vup4At4yY99GFFL8Ok9JwD-Q2ySsA&s)
}



input {
    width: 650px;
    margin: 20px 10px 10px 20px;
    border-radius: 10px;
    height: 35px;
}

textarea {
    width: 650px;
    margin: 20px 10px 10px 20px;
    border-radius: 5px;
    height: 55px;
}

#register {
    background-color: royalblue;
    color: white;
    width: 100px;
    border-radius: 5px;
    margin-left: 250px;
    margin-top: 10px;
}

#updateBtn {
    background-color: #28a745;   /* green */
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 200px;
    display: none; /* important */
}

#updateBtn:hover {
    background-color: #218838;
}

.edit-btn {
    background-color: #007bff; /* blue */
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    margin-left: 15px;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.del-Task {
    background-color: #dc3545; 
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    margin-left: 15px
}

.del-Task-btn:hover {
    background-color: #b02a37;
}



table {
    width: 750px;
    margin-top: 30px;
    margin-left: 350px;
    background-color: azure;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQF6hKc6Vup4At4yY99GFFL8Ok9JwD-Q2ySsA&s)
}

